.search-bar {
    grid-column: 1 / span 1;
    align-self: top;
    padding-top: 15px;
    width: 200px;
    grid-column: 1 / span 1;
    justify-self: right;
}

.search-bar input {
    border-radius: 15px;
    margin-right: 5px;
    border: 1px #000 solid;
    padding: 5px 25px 5px 25px;
    z-index: 5;
}

ul {
    padding-left: 0pt
}

@media screen and (max-width: 480px) {
    .search-bar {
        width: 50vw;
    }

    .search-bar input {
        width: 50vw;
    }
}
