.receipt-grid-container {
    margin-top: 70px;
}

.receipt-grid {    
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    justify-items: stretch;
    grid-gap: 50px;
    justify-content: space-evenly;
}

.receipt-grid .receipt {
    border: 1px solid #98E9EB;
    padding: 50px;
    padding-top: 0px;
    max-width: 250px;
    justify-self: center;
}

.receipt-search-bar {
    grid-column: 2 / span 1;
    justify-self: left;
    align-self: top;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.receipt-search-bar input {
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    z-index: 0;
}

.no-receipts {
    margin: auto;
}